@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,600;0,700;0,800;0,900;1,300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --Moderate-violet: hsl(263, 55%, 52%);
    --Very-dark-grayish-blue: hsl(217, 19%, 35%);
    --Very-dark-blackish-blue: hsl(219, 29%, 14%);
    --White: hsl(0, 0%, 100%)
}

body {
    background: rgb(188, 235, 238);
    font-family: 'Barlow Semi Condensed', sans-serif;
}

.container {
    margin: 100px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: minmax(300px, auto);
    grid-gap: 1.5rem;
}


/* common style */

.profile {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    padding: 5px 20px;
}

.profile img {
    border-radius: 50%;
}

.profile h1 {
    font-size: 1rem;
    color: #fff;
}

.profile p {
    font-size: 1rem;
    color: #fff;
}

.details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 5px 20px;
}

.details h3 {
    font-size: 1.3rem;
    color: #fff;
    margin-bottom: 15px;
}

.details p {
    font-size: .9rem;
    color: #fff;
}

.person3 .details h3 {
    font-size: 1.3rem;
    color: #333;
}

.person3 .details p {
    color: #333;
    font-size: .9rem;
}

.person4 .details h3 {
    font-size: 1.3rem;
    color: #333;
}

.person4 .details p {
    color: #333;
    font-size: .9rem;
}

.person3 .profile h1 {
    color: rgb(31, 31, 31);
}

.person3 .profile p {
    color: rgb(27, 27, 27);
}

.person4 .profile h1 {
    color: rgb(54, 54, 54);
}

.person4 .profile p {
    color: rgb(24, 24, 24);
}


/* common style end */


/* person style */

.person1 {
    grid-column: 1/6;
    border-radius: 10px;
    background: url(/images/bg-pattern-quotation.svg) no-repeat, var(--Moderate-violet);
    background-position: top right;
    cursor: pointer;
    /* transition: transform 1s linear; */
}

.person1:hover {
    /* transform: scale(.8); */
}

.person2 {
    grid-column: 6/10;
    background: var(--Very-dark-blackish-blue);
    border-radius: 10px;
    cursor: pointer;
    /* transition: transform 1s linear; */
}


/* .person2:hover {
    transform: scale(.8);
} */

.person3 {
    grid-column: 10/16;
    grid-row: 1/3;
    background: var(--White);
    border-radius: 10px;
    cursor: pointer;
}

.person4 {
    grid-column: 1/4;
    border-radius: 10px;
    background: var(--White);
    cursor: pointer;
}

.person5 {
    grid-column: 4/10;
    background: var(--Very-dark-grayish-blue);
    border-radius: 10px;
    cursor: pointer;
}

.attribution {
    text-align: center;
    font-weight: 600;
    font-size: 1.2rem;
    padding: 10px 0;
    margin: 10px 0;
}

.attribution a {
    text-transform: uppercase;
    text-decoration: none;
    color: black;
}

.attribution a {
    font-size: small;
    text-align: center;
}


/* media query */

@media(max-width:960px) {
    body {
        width: 100%;
        margin: 0 auto;
    }
    .container {}
    .person1 {
        grid-column: 1/10;
        grid-row: auto;
        width: 100%;
    }
    .person2 {
        grid-column: 1/10;
        grid-row: auto;
        width: 100%;
    }
    .person3 {
        grid-column: 1/10;
        grid-row: auto;
        width: 100%;
    }
    .person4 {
        grid-column: 1/10;
        grid-row: auto;
        width: 100%;
    }
    .person5 {
        grid-column: 1/10;
        grid-row: auto;
        width: 100%;
    }
    .attribution a {
        font-size: small;
        color: rgb(70, 67, 61);
    }
}

@media(max-width:560px) {
    .person1 {
        grid-column: 1/10;
        grid-row: auto;
    }
    .person2 {
        grid-column: 1/10;
        grid-row: auto;
    }
    .person3 {
        grid-column: 1/10;
        grid-row: auto;
    }
    .person4 {
        grid-column: 1/10;
        grid-row: auto;
    }
    .person5 {
        grid-column: 1/10;
        grid-row: auto;
    }
    .attribution a {
        font-size: small;
        text-align: center;
    }
}


/* 
- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

Moderate violet: hsl(263, 55%, 52%)
Very dark grayish blue: hsl(217, 19%, 35%)
Very dark blackish blue: hsl(219, 29%, 14%)
White: hsl(0, 0%, 100%)

### Neutral

Light gray: hsl(0, 0%, 81%)
Light grayish blue: hsl(210, 46%, 95%)

Note for text colors:

1. "Verified Graduate" has the same color as the person's name with 50% opacity
2. Review paragraphs inside the quotations have the same color as well, but are at 70% opacity

## Typography

### Body Copy

- Font size: 13px

### Font

- Family: [Barlow Semi Condensed](https://fonts.google.com/specimen/Barlow+Semi+Condensed)
- Weights: 500, 600 */